.card {
    border-radius: 10px;
    background-color: lightgray;
}

.card img {
    border-radius: 10px;
    height: 450px;
    border: 2px solid orange;
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    .card img {
        height: auto;
    }

}

@media screen and (max-width:480px) {
    .product {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .card img {
        height: auto;
    }
}